body{
	font: 15px/1.5 Arial ,Helvetica ,sans-serif;
	margin : 0;
	padding: 0;
	background: #d4d4d4;
}
header{
	background: #666;
	min-height: 60px;
}
/*clr{
	float: left;
	display: block;
}*/
.menu-icon{
	width: 15px;
}
.button{
	border: 1px red solid;
	border-radius: 10px;
}

.container{
	max-width:80%;
	margin:auto;
	overflow: hidden;
}
a{
	padding: 0px 0px;
	text-decoration: none;
	color: black;
}
a:hover{
	color: white;
}
.button:hover{
	background-color: red;
}

/*header classes*/


#branding{
	float: left;
	margin: 15px 0;
	/* align-content: space-between; */
}
#branding h1{
	margin:0;
	padding: 0;
	color: orange;
	font-size: 1.8em;
	letter-spacing: -0.5px; 
}
.branding1{
	/* float:left; */
	margin-top: -22px;
	/* padding-left: 5px; */
	/*font-size: 0.9em;
	word-spacing: -0.5px;
	letter-spacing: -0.5px;*/
	margin-left: 90px;
}
.branding1 p{
	margin: 0;
	color: white;
}
.logo{
	background-image: url("logo.jpg");
	margin: 5px 0px;
	height: 60px;
	float: right;
}

/*nav bar starts*/

nav{
	position: sticky;
	top: 0;
	background-color: #ff8c00;
}
.navbut{
	border: 1px red solid;
	border-radius: 4px;
	background-color: #ff8c00;
	padding: 5px 10px;
}

.nav-button{
	display: none;
	float: left;
	margin: 5px 0 5px 5px;
	
}
.nav-button-close{
	display: none;
	float: left;
	margin: 5px 0 5px 5px;
}

/*Right nav bar*/
.navbar1{
	float: right;
	margin: 5px 0;
}
.navbar1 ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar1 li{
	display: inline;
	padding: 0 5px;
	color: black;
}
.navbar1 a{
	padding: 3px 10px;
}

/*navbar in full size*/
.navbar{
	float: left;
	margin: 5px 0;
}
.navbar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar li{
	display: inline;
	padding: 0 5px;
	color: black;
}


/*button-controlled nav bar*/
.navbar2{
	position: absolute;
	top: 32px;
	left: 0px;
	display: none;
	padding: 2px 5px 5px;
	width: -webkit-fill-available;
	background-color: rgba(255,140,0,0.9);
}
.navbar2 ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar2 li{
	display: block;
	padding: 0;
	padding-left: 5px;
	color: white;
	border: 1px white solid;
	border-radius: 5px;
	width: 77%;
	margin: 1px auto;
}

/*Showcase starts*/
#showcase{
	background: url("../images/02.jpg") no-repeat center -130px;
	min-height: 1000px;
	/* z-index: -1; */
}


/*Media Queries*/
@media(max-width: 760px){
	.navbar{
		display: none;
	}
	.nav-button{
		display: block;
	}
}

@media(max-width: 400px){
	#branding{
		margin: 11px 0;
	}
	.branding1{
		float: none;
		display: block;
		margin-top: -4px;
		margin-left: 03px;
	}
	.logo{
		height: 70px;
	}
}
@media(min-width: 1080px){
	#showcase{
		background-size: cover;
		background-position-y: -175px; 
	}
}