body{
	font: 15px/1.5 Arial ,Helvetica ,sans-serif;
	margin : 0;
	padding: 0;
	background: #d4d4d4;
}
header{
	background: #666;
	min-height: 60px;
}
/*clr{
	float: left;
	display: block;
}*/
.menu-icon{
	width: 15px;
}
.button{
	border: 1px red solid;
	border-radius: 10px;
}

.container{
	max-width:80%;
	margin:auto;
	overflow: hidden;
}
a{
	padding: 3px 5px;
	text-decoration: none;
	color: black;
}
a:hover{
	color: white;
}
.button:hover{
	background-color: red;
}

/*header classes*/


#branding{
	float: left;
	margin-top: 10px;
}
#branding h1{
	margin:0;
	padding: 0;
	color: orange; 
}
.branding1{
	float:left;
	margin-top: 30px;
	padding-left: 5px;
}
.branding1 p{
	margin: 0;
	color: white;
}
.logo{
	background-image: url("logo.jpg");
	margin: 5px 0px;
	width:80px;
	float: right;
}

/*nav bar starts*/

nav{
	background-color: #ff8c00;
}
.navbut{
	border: 1px red solid;
	border-radius: 4px;	
	background-color: #ff8c00;
	padding: 3px 10px;
}

.nav-button{
	display: none;
	float: left;
	margin: 5px 0 5px 5px;
	
}
.nav-button-close{
	display: none;
	float: left;
	margin: 5px 0 5px 5px;
}

/*Right nav bar*/
.navbar1{
	float: right;
	margin: 5px 0;
}
.navbar1 ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar1 li{
	display: inline;
	padding: 0 5px;
	color: black;
}
.navbar1 a{
	padding: 3px 10px;
}

/*navbar in full size*/
.navbar{
	float: left;
	margin: 5px 0;
}
.navbar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar li{
	display: inline;
	padding: 0 5px;
	color: black;
}


/*button-controlled nav bar*/
.navbar2{
	display: none;
	margin: 12px 5px;
}
.navbar2 ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.navbar2 li{
	display: block;
	padding: 0;
	margin-top: 2px;
	color: white;
	border: 1px white solid;
	border-radius: 5px;
}

@media(max-width: 760px){
	.navbar{
		display: none;
	}
	.nav-button{
		display: block;
	}
}
